<!doctype html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<head>
<title>Come to gather?</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/magicsuggest-min.css') }}">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='//fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800' 
                       rel='stylesheet' type='text/css'>
</head>

<body>
<div class="bg">

<div class="jumbotron jumbotron-fluid">
  <div class="container shadow-sm p-3 mb-5 rounded" style="background-color: rgba(255, 255, 255, 0.8)">
    <h1 class="display-4 title">Come to gather? Right now!</h1>
    <p class="lead subtitle font-weight-bold">For people spread all over the globe.</p>
  </div>
</div>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-xs-10 col-sm-10 col-md-10 col-lg-10" style="margin: auto">
    {% block content %}{% endblock %}
    </div>
  </div>
</div>

<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% block ending %}{% endblock %}
</div>
</body>
