{% extends 'base.html' %}

{% block content %}
  <form method="POST">
    <div id="magicsuggest"></div>
    <div class="row justify-content-center">
      <input type="hidden" id="hidden-field1">
      <div class="col col-md-6">
        <div class="input-group">
	  <div class="input-group-prepend">
            <span class="input-group-text" id="city-desc">Cities of departure</span>
          </div>
          <input name="city" id="city" class="form-control city-autocomplete" autocomplete="off" aria-describedby="city-desc" required>
        </div>
      </div>
      <div class="col col-md-1">
          <input type="submit" class="btn btn-dark" value="Find your way">
      </div>
    </div>
  </form>
{% endblock %}

{% block ending %}
<script src="{{ url_for('static', filename='js/magicsuggest-min.js') }}"></script>
<script>
  $('.city-autocomplete').magicSuggest({
        allowFreeEntries: false,
        maxDropHeight: 150,
        placeholder: '',
        maxSelection: 10,
        maxSelectionRenderer: "Wow, too many of you!",
        minChars: 1,
        required: true,
        data: "/cities",
        selectionPosition: 'inner',
        selectionStacked: true,
        selectionRenderer: function(data){
            return data.name;
        }
    });
</script>

{% endblock %}
